.updateRow {
  border: 2px solid #ffc107 !important;
  color: #ffc107;
}
.deleteRow {
  border: 2px solid #dc3545 !important;
  color: #dc3545;
}
.parent-button {
  height: 20px;
  width: 50px;
  background-color: #f8f9fa;
  cursor: pointer;
}

.child-button {
  width: 18px;
  height: 18px;
  background-color: #212529;
  transform: translate(0, 1px);
  transition: margin-left 0.5s ease-out, background-color 0.5s ease-out;
}

.child-button-light {
  margin-left: calc(100% - 18px);
  background-color: #f8f9fa;
}
.parent-button-light {
  background-color: #212529;
}

.parent-button:hover {
  opacity: 80%;
}
